@{
    ViewBag.Title = "room_price";
}

<!--room_index.html-->
@{
    if(Model != null)
    {  
        <!DOCTYPE html>
        <html>  
        <head>  
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" id="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-touch-fullscreen" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black"><title>@Model.name (台州凌霄国际饭店)</title>
        <!--
        <link rel="stylesheet" href="/Content/style/jquery.mobile-1.3.0.min.css?v=25" /> 
        <link rel="stylesheet" href="/Content/style/mobile_web_style.css?v=25" /> 
        <script type="text/javascript" src="/Content/Scripts/jquery-1.9.1.min.js?v=25"></script>

        <script type="text/javascript" src="/Content/Scripts/mobile_web_script.js?v=25"></script> 

        <script type="text/javascript" src="/Content/Scripts/jquery.mobile-1.3.0.min.js?v=25"></script>

        <script type="text/javascript" src="/Content/Scripts/changePage.js?v=25"></script> 
        -->

        <script type="text/javascript">

            (function () {
                var u = navigator.userAgent;
                if (!(!!u.match(/AppleWebKit.*Mobile.*/) || !!u.match(/AppleWebKit/))) {
                    document.write('<h1 id="notice" style="background-color:red; color:#ffffff; font-size:200%;">您的浏览器不支持新技术Html5请升级或更换浏览器</h1>');
                    document.execCommand("stop");
                }

            }());

        </script>

        <link type="text/css" rel="stylesheet" href="/Content/style/mobile_web_style.css?v=25" />
        <!--<link type="text/css" rel="stylesheet" href="/Content/style/global.css?v=25" />-->
        <script type="text/javascript" src="/Content/Scripts/zepto.min.js?v=25"></script>
        <script type="text/javascript" src="/Content/Scripts/mobile_web_script.js?v=25"></script>   
        <script type="text/javascript" src="/Content/Scripts/slide.js?v=25"></script></head>  
 
        <body>  
        <div id="index">
        <script language="javascript">
            var home = "/hotel/main";
            var promotion_index = "/promotion/index";
            var room_index = "/room/index";
        </script>
        <header>
            @*{
                background 需要在数据库再加图片
            }*@
	        <div class="top" style="background:url(http://f3.v.veimg.cn/maiwei/uploads/1/20130329163152523.png) repeat-x scroll 0 0 transparent;">
                <h1><img src="http://f3.v.veimg.cn/maiwei/uploads/1/20130423103337669.png" class="logo_pop"/></h1>
            </div>
        </header>
           <div id="mainArea">
		        <nav id="nav">
			        <span rel="/shop/info/1"><a href="/shop/info/@Model.id">@Model.shop_type (酒店介绍)</a></span><span  rel="/shop/activity/1"><a href="/shop/activity/@Model.id">促销活动</a></span><span   rel="/shop/room_price/1"><a href="/shop/room_price/@Model.id">客房预订</a></span>
		        </nav>

            </div>

        <footer>
        <nav class="footer_nav">
        <ul>
        <li class="share_btn"><a data-ajax="false" href="javascript:;">分享</a></li>
        <li class="save_btn"><a data-ajax="false" href="javascript:;">添加到桌面</a></li>
        </ul>
        </nav>
        </footer>
        </div>
        <div id="mask" class="mask2">
        <div class="popup">
        <div class="popup_tit">
        <div class="inner">
        <h2>分 享</h2>
        </div>
        </div>
        <div class="popup_text">
        <ul class="share_list">
        <li><a href="javascript:(function(){window.open('http://v.t.sina.com.cn/share/share.php?title='+encodeURIComponent(document.title)+'&url='+encodeURIComponent(location.href)+'&source=bookmark');})()" title="新浪微博分享"><span><img src="http://f3.v.veimg.cn/maiwei/images/share_icon_sina.png?v=25"/></span>分享到新浪微博</a> </li>
        <li><a href="javascript:(function(){window.open('http://v.t.qq.com/share/share.php?title='+encodeURIComponent(document.title)+'&url='+encodeURIComponent(location.href)+'&source=bookmark');})()" title="腾讯微博分享"><span><img src="http://f3.v.veimg.cn/maiwei/images/share_icon_tx.png?v=25"/></span>分享到腾讯微博</a></li>
        </ul>
        </div>
        <div class="operation">
        <a data-ajax="false" href="javascript:closeWindow();" class="operation-btn">取 消</a>
        <a data-ajax="false" href="javascript:;" class="operation-btn" style="display:none">确 定</a>
        </div>
        </div>
        </div>
        <div id="mask" class="mask3">
        <div class="popup">
        <div class="popup_tit">
        <div class="inner">
        <h2>添加到桌面</h2>
        </div>
        </div>
        <div class="popup_text">
        <ul class="">
        <li>点击浏览器上”<b style="font-size:18px; font-weight:bold;">☆</b>“或"<img src="http://f3.v.veimg.cn/maiwei/images/icon_zf.png" />",<br/>然后点击”发至桌面“即可。</li>
        </ul>
        </div>
        <div class="operation">
        <a data-ajax="false" href="javascript:closeWindow();" class="operation-btn">取 消</a>
        <a data-ajax="false" href="javascript:;" class="operation-btn" style="display:none">确 定</a>
        </div>
        </div>
        </div>
        <!--
        <script type="text/javascript" src="/Content/Scripts/mvc.js?v=25"></script>
        <script type="text/javascript" src="/Content/Scripts/jd.js?v=25"></script>
        -->
        <script type="text/javascript" src="/Content/Scripts/jd.js?v=25"></script></body>
        </html> 
    }
}