<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SysEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=MICROSO-ARDCQGT;Initial Catalog=Sys;Persist Security Info=True;User ID=sa;Password=sa;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
        <services>
            
      <service behaviorConfiguration="metadataSupport" name="BLL.SysPersonBLL">
        <endpoint binding="basicHttpBinding" bindingConfiguration="CustomizeServiceSoapBinding" contract="IBLL.ISysPersonBLL"/>
      </service>

      <service behaviorConfiguration="metadataSupport" name="BLL.SysMenuBLL">
        <endpoint binding="basicHttpBinding" bindingConfiguration="CustomizeServiceSoapBinding" contract="IBLL.ISysMenuBLL"/>
      </service>

      <service behaviorConfiguration="metadataSupport" name="BLL.SysDepartmentBLL">
        <endpoint binding="basicHttpBinding" bindingConfiguration="CustomizeServiceSoapBinding" contract="IBLL.ISysDepartmentBLL"/>
      </service>

      <service behaviorConfiguration="metadataSupport" name="BLL.SysRoleBLL">
        <endpoint binding="basicHttpBinding" bindingConfiguration="CustomizeServiceSoapBinding" contract="IBLL.ISysRoleBLL"/>
      </service>

      <service behaviorConfiguration="metadataSupport" name="BLL.SysLogBLL">
        <endpoint binding="basicHttpBinding" bindingConfiguration="CustomizeServiceSoapBinding" contract="IBLL.ISysLogBLL"/>
      </service>

      <service behaviorConfiguration="metadataSupport" name="BLL.SysExceptionBLL">
        <endpoint binding="basicHttpBinding" bindingConfiguration="CustomizeServiceSoapBinding" contract="IBLL.ISysExceptionBLL"/>
      </service>

      <service behaviorConfiguration="metadataSupport" name="BLL.SysFieldBLL">
        <endpoint binding="basicHttpBinding" bindingConfiguration="CustomizeServiceSoapBinding" contract="IBLL.ISysFieldBLL"/>
      </service>

      <service behaviorConfiguration="metadataSupport" name="BLL.YiDuiDuoZhongDeYiBLL">
        <endpoint binding="basicHttpBinding" bindingConfiguration="CustomizeServiceSoapBinding" contract="IBLL.IYiDuiDuoZhongDeYiBLL"/>
      </service>

      <service behaviorConfiguration="metadataSupport" name="BLL.YiDuiDuoZhongDeDuoBLL">
        <endpoint binding="basicHttpBinding" bindingConfiguration="CustomizeServiceSoapBinding" contract="IBLL.IYiDuiDuoZhongDeDuoBLL"/>
      </service>

      <service behaviorConfiguration="metadataSupport" name="BLL.dailyBLL">
        <endpoint binding="basicHttpBinding" bindingConfiguration="CustomizeServiceSoapBinding" contract="IBLL.IdailyBLL"/>
      </service>

      <service behaviorConfiguration="metadataSupport" name="BLL.tasktypeBLL">
        <endpoint binding="basicHttpBinding" bindingConfiguration="CustomizeServiceSoapBinding" contract="IBLL.ItasktypeBLL"/>
      </service>

      <service behaviorConfiguration="metadataSupport" name="BLL.statusBLL">
        <endpoint binding="basicHttpBinding" bindingConfiguration="CustomizeServiceSoapBinding" contract="IBLL.IstatusBLL"/>
      </service>

      <service behaviorConfiguration="metadataSupport" name="BLL.shopBLL">
        <endpoint binding="basicHttpBinding" bindingConfiguration="CustomizeServiceSoapBinding" contract="IBLL.IshopBLL"/>
      </service>

      <service behaviorConfiguration="metadataSupport" name="BLL.activityBLL">
        <endpoint binding="basicHttpBinding" bindingConfiguration="CustomizeServiceSoapBinding" contract="IBLL.IactivityBLL"/>
      </service>

      <service behaviorConfiguration="metadataSupport" name="BLL.youhuiBLL">
        <endpoint binding="basicHttpBinding" bindingConfiguration="CustomizeServiceSoapBinding" contract="IBLL.IyouhuiBLL"/>
      </service>

      <service behaviorConfiguration="metadataSupport" name="BLL.food_listBLL">
        <endpoint binding="basicHttpBinding" bindingConfiguration="CustomizeServiceSoapBinding" contract="IBLL.Ifood_listBLL"/>
      </service>

      <service behaviorConfiguration="metadataSupport" name="BLL.room_priceBLL">
        <endpoint binding="basicHttpBinding" bindingConfiguration="CustomizeServiceSoapBinding" contract="IBLL.Iroom_priceBLL"/>
      </service>
 
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="metadataSupport">
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="CustomizeServiceSoapBinding" closeTimeout="00:05:00" openTimeout="00:05:00" receiveTimeout="00:10:00" sendTimeout="00:05:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="655360000" maxBufferPoolSize="5242880000" maxReceivedMessageSize="655360000" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="128" maxStringContentLength="81920000" maxArrayLength="163840000" maxBytesPerRead="40960000" maxNameTableCharCount="163840000"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
    </client>
  </system.serviceModel>
</configuration>

